<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="/css/global.css">
</head>
<body>

<div id="message">
    <h2>Welcome</h2>
    Message: {{ message }}
    <br>
    URL: {{ url }}
    <br>
    <br>
    Posts collection data:
    <pre>{{ dump(datas) }}</pre>
</div>
</body>
</html>